@using RS1_Ispit_asp.net_core.EntityModels

@{
    ViewBag.Title = "Index";


}
@model RS1_Ispit_asp.net_core.ViewModels.IspitIndexVM

<table class="table">
    <thead>
        <tr>
            <th>Naziv predmeta</th>
            <th>Akademska godina</th>
            <th>Ime i prezime nastavnika</th>
            <th>Broj odrzanih casova</th>
            <th>Broj studenata na predmetu</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
        <tr>
            <td>@x.NazivPredemta</td>
            <td>@x.AkademskaGodina</td>
            <td>@x.Nastavnik</td>
            <td>@x.BrojOdrzanihCasova</td>
            <td>@x.BrojStudenataNaPredmetu</td>
            <td><a asp-action="Odaberi" asp-route-angazovanId="@x.AngazovanId" class="btn btn-success">Odaberi</a></td>
        </tr>
        }
    </tbody>
</table>