@using RS1_Ispit_asp.net_core.EntityModels

@{
    ViewBag.Title = "Index";


}
@model RS1_Ispit_asp.net_core.ViewModels.IspitOdaberiVM

<table class="table">
    <thead>
        <tr>
            <th>Datum ispita</th>
            <th>
                Broj studenata
                koji nisu položili
                predmet
            </th>
            <th>
                Broj prijavljenih
                studenata
            </th>
            <th>
                Evidentirani
                rezultati
                (zaključano)
            </th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.Datum</td>
                <td>@x.BrojStudenataKojiNisuPolozili</td>
                <td>@x.BrojPrijavljenihStudenata</td>

                @if (x.Zakljucano)
                {
                    <td>Da</td>
                }
                else
                {
                    <td>Ne</td>
                }
                <td>
                    <a asp-action="Detalji" asp-route-ispitId="@x.IspitId" class="btn btn-info">Detalji</a>
                    <a asp-action="Zakljucaj" asp-route-ispitId="@x.IspitId" class="btn btn-danger">Zakljucaj</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Dodaj" asp-route-angazovanId="@Model.AngazovanId" class="btn btn-danger">Dodaj</a>

