
@{
    ViewBag.Title = "Index";

}
@model RS1_Ispit_asp.net_core.ViewModels.OdrzanaNastavaOdaberiVM

<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Škola</th>
            <th>Predmet</th>
            <th>Nisu pristupili učenici</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
        <tr>
            <td>@x.Datum</td>
            <td>@x.Skola</td>
            <td>@x.Predmet</td>
            <td>@x.NisuPristupili</td>
            <td><a asp-action="Uredi" class="btn btn-primary" asp-route-maturskiIspitId="@x.MaturskiIspitId">Uredi</a></td>
        </tr>
        }
    </tbody>
</table>
<a asp-action="Dodaj" asp-route-nastavnikId="@Model.NastavnikId" >Dodaj</a>